a {
    color: #dbd8e3;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

main {
    position: absolute;
    margin-left: 25%;
    padding: 20px;
    margin-bottom: 110px;
}

body {
    font-family: "Goudy Bookletter 1911", sans-serif;
    color: #352f44;
    background-color: #00a0ff0d;
    display: flex;
    margin: 0;
}

img {
    width: 80%;
    height: auto;
    max-width: 800px;
}

#img_container {
    text-align: center;
}

header {
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    padding-top: 15px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #352f44;
    color: #e1dddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

/* Navbar Styling */
#navbar {
    margin: 0;
    position: fixed;
    min-width: 25%;
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100vh;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    background-color: #002244;
    color: #f3f1f9;
    padding: 0;
}

.nav-list {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

.nav-list li {
    padding: 5px 0;
    border-top: 1px solid #cac5c5;
    text-align: center;
}

.nav-list li:last-of-type {
    border-bottom: 1px solid #cac5c5;
}

.source_alt {
    display: none;
}

#source {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #002244;
    display: list-item;
    height: 4%;
}

#source li {
    padding: 5px 0;
    border-top: 1px solid #cac5c5;
    text-align: center;
}

@media only screen and (max-width: 785px) {

    #source {
        display: none;
    }

    .source_alt {
        display: list-item;
    }

    #navbar {
        padding: 0;
        margin: 0;
        border: none;
        min-width: 390px;
        z-index: 10;
        position: static;
        width: 100%;
        height: auto;
    }

    #navbar a {
        display: block;
        padding: 10px 30px;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-list {
        margin: 0;
        margin-top: 10px;
        padding-bottom: 0;
        height: 130px;
    }

    main {
        position: absolute;
        margin-left: 0;
        margin-top: 185px;
        padding: 20px;
        margin-bottom: 50px;
        width: calc(100vw - 40px);
    }

    .main-section {
        align-content: center;
    }
}

@media only screen and (max-height: 1100px) {
    #source{
        display: none;
    }

    .source_alt{
        display: list-item;
    }
}